
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* eks: 
    . header {
        background: red 
    } */
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* eks:
    .header {
        background: orange 
    } */
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* eks:
    .header {
        background: pink 
    } */
}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* eks: 
    .header {
        background: blue
    } */
} 
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* eks:
    .header {
        background: purple
    } */
}

